*{
	box-sizing: border-box;
}

.top-bar{
	background-color: white;

	
	
}

.name img{
	height: 2em;
}


.top-bar .toggle-topbar.menu-icon a span::after {
          box-shadow: 0 0 0 1px #000, 0 7px 0 1px #000, 0 14px 0 1px #000;
      }

      .top-bar-section li:not(.has-form) a:not(.button) {
      	background-color: white;
      	color: black;
      	font-family: 'Roboto', sans-serif;
      	font-weight: 400;

      }

      .top-bar-section li.active:not(.has-form) a:not(.button) {
    background: #333333;
	}

	 .top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background: #eee;
    color: #333333;
	}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"]{
	border-color: #e5e5e5; 	
}

button,
.button {
	background-color: black;
	color: white;

}

.button:hover{
	background-color: #7c7676;
	color: #eee;

}

button.disabled:hover, button.disabled:focus, 
button[disabled]:hover, button[disabled]:focus, 
.button.disabled:hover, .button.disabled:focus, 
.button[disabled]:hover, .button[disabled]:focus{
	background: #eee;
    color: #333333;
}

button.disabled, button[disabled], .button.disabled, .button[disabled]{
	background-color: #7f7b7b;


}

button.disable:hover{
		background-color: white;
		color: black;

}

button:hover, button:focus, .button:hover, .button:focus{
	background-color: grey;
}
.breadcrumbs > * a{
	color: black;
}

.inline-list li a{
	color: grey;
}


body {
	background-image: url('../img/bg2.png');
	background-size: cover;
	background-repeat: no-repeat;

	}
.cart {
	background-image: url('../img/bg4.svg');
	background-size: cover;
	background-repeat: no-repeat;

	}
.facts {
	background-color: white;
	padding-left: 	2em;

}

.cart .panel h4 a{
	color: grey;
}




figure.hero {
 margin: 0;
 position: relative;
}
figure.hero img {
 width: 100%;
}
figure.hero figcaption {
 position: absolute;
 bottom: 0;
 width: 100%;
 background-color: rgba(0, 0, 0, .2);
 text-align: right;


}
figcaption h1{
color: white;
font-family: 'Roboto', sans-serif;
}

h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

h4{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.inline-list li{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

footer {

	margin-top:4.5rem;
	background: #d4d4d4;
	padding-top: 1.5rem;

	
}

footer img{
	height: 150px;
}

footer a {text-decoration: none;
	color: #000;
	font-size: 1.5em;
}



aside {
	padding-bottom: 2em;
}

.social-links {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;

}
.social-links li{
	display: inline-block;
	
}


.social-links a :hover {
	color: white;
}





@media screen and (min-width:40.0625em){

.top-bar{
height:4.5rem;
}


	.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
	height: 4.5rem;
}

.social-links{
	text-align: right;
}



	.top-bar-section li:not(.has-form) a:not(.button){
	line-height: 4.5rem;
}
.top-bar-section li.active:not(.has-form) a:not(.button){
	line-height: 4.5rem;
}

.name img {
	height: 45px;

}

figure.hero figcaption {
 
bottom: 55px;

}

figcaption h1 {
	color: black;
}

}